@model IEnumerable<Library.Domain.Entities.Genre>

@{
    ViewBag.Title = "Админ панель: список жанров";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Список жанров</h3>
        @Html.ActionLink("Домой", "List", "Books", new { area = "" }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Авторы", "Index", "Authors", null, new { @class = "btn btn-success" })
        @Html.ActionLink("Книги", "Index", "Books", null, new { @class = "btn btn-success" })
        
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-right">ID Жанра</th>
                <th>Название</th>
                <th class="text-center">Действия</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-right">@item.ID_GENRE</td>
                    <td>@Html.ActionLink(item.NAME_GENRE, "Edit", new { item.ID_GENRE })</td>
                    <td class="text-center">
                        @using (Html.BeginForm("DeleteGenre", "Genres"))
                        {
                            @Html.Hidden("ID_GENRE", item.ID_GENRE)
                            <input type="submit"
                                   class="btn btn-default btn-xs"
                                   value="Удалить" />
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Добавить жанр", "Create", null,
            new { @class = "btn btn-default" })
    </div>
</div>